<style>
img {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}
</style>

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Disable Left Click and Text Selection</title>
<style>*{user-select:none}</style>
</head>
<body oncontextmenu="return false"></body>
</html>